@charset "UTF-8";
input:-webkit-autofill:hover, input:-webkit-autofill:active, input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(192, 192, 192, 0.2) inset !important;
          box-shadow: 0 0 0px 1000px rgba(192, 192, 192, 0.2) inset !important;
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
  /*透明*/
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #fff !important;
}

input {
  outline: none;
}

::-ms-clear,
::-ms-reveal {
  display: none;
}

#loginGroup {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

@media (min-width: 320px) and (max-width: 767px) {
  #loginGroup {
    padding-top: 80px;
  }
}

#loginGroup .arrow_box {
  position: absolute;
  width: 88px;
  height: 88px;
  background: #e0e4e8;
  border: 6px solid #fff;
  z-index: 1032;
  border-radius: 50%;
  margin-top: 228px;
  margin-left: 603px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4px;
}

@media (min-width: 320px) and (max-width: 767px) {
  #loginGroup .arrow_box {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #loginGroup .arrow_box {
    margin-top: 199px;
    margin-left: 218px;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  #loginGroup .arrow_box {
    margin-top: 152px;
    margin-left: 306px;
  }
}

#loginGroup .arrow_box .arrow_right {
  width: 32px;
  height: 35px;
  display: inline-block;
  z-index: 1033;
  position: absolute;
  background: url(../images/arrow_right.png) no-repeat;
  background-size: 100%;
}

#loginGroup .registerL {
  width: 34%;
  height: 100%;
  margin-bottom: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  #loginGroup .registerL {
    display: none;
  }
}

#loginGroup .registerL .BG_login {
  background: url(../images/BG_login.jpg) repeat-y;
  background-size: cover;
  padding-bottom: 118.54%;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#loginGroup .registerL .BG_login .txt_tit {
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  color: #3d3d3d;
  margin-top: 20px;
  text-align: center;
  margin-top: 500px;
}

@media (min-width: 320px) and (max-width: 767px) {
  #loginGroup .registerL .BG_login .txt_tit {
    margin-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #loginGroup .registerL .BG_login .txt_tit {
    margin-top: -10px;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  #loginGroup .registerL .BG_login .txt_tit {
    margin-top: 352px;
  }
}

#loginGroup .registerL .BG_login .txt {
  position: absolute;
  margin-top: 580px;
  display: block;
  text-align: center;
  font-size: 13px;
  color: #3d3d3d;
  letter-spacing: 2px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #loginGroup .registerL .BG_login .txt {
    margin-top: 46px;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  #loginGroup .registerL .BG_login .txt {
    margin-top: 411px;
  }
}

#loginGroup .registerR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  #loginGroup .registerR {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #loginGroup .registerR {
    padding-left: 15px;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  #loginGroup .registerR {
    padding-left: 15px;
  }
}

@media (min-width: 1367px) and (max-width: 1920px) {
  #loginGroup .registerR {
    width: 40%;
    padding-left: 80px;
  }
}

#loginGroup .registerR .register_header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 320px) and (max-width: 767px) {
  #loginGroup .registerR .register_header {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #loginGroup .registerR .register_header {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  #loginGroup .registerR .register_header {
    display: none;
  }
}

@media (min-width: 1367px) and (max-width: 1920px) {
  #loginGroup .registerR .register_header {
    display: none;
  }
}

#loginGroup .registerR .register_header span {
  display: inline-block;
}

#loginGroup .registerR .register_header span.icon_register {
  width: 128px;
  height: 128px;
  background: url(../images/icon_register.png) no-repeat;
  background-size: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
  #loginGroup .registerR .register_header span.icon_register {
    width: 80px;
    height: 80px;
  }
}

#loginGroup .registerR .register_header span.txt_tit {
  font-size: 18px;
  color: #3d3d3d;
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  #loginGroup .registerR .register_header span.txt_tit {
    margin-top: 10px;
  }
}

#loginGroup .registerR .register_header span.txt_tit .txt {
  display: block;
  text-align: center;
  font-size: 13px;
  color: #a8a1a1;
  letter-spacing: 1px;
}

#loginGroup .registerR .register_box {
  width: 100%;
  padding: 30px 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  #loginGroup .registerR .register_box {
    width: 100%;
    padding: 30px 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #loginGroup .registerR .register_box {
    padding-top: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  #loginGroup .registerR .register_box {
    padding-top: 0;
  }
}

@media (min-width: 1367px) and (max-width: 1920px) {
  #loginGroup .registerR .register_box {
    padding-top: 0;
  }
}

#loginGroup .registerR .register_box .txt_tit {
  font-size: 14px;
  padding-left: 21px;
  margin-bottom: 13px;
  display: block;
}

#loginGroup .registerR .register_box .formGroup {
  padding: 5px 20px 18px;
}

#loginGroup .registerR .register_box .formGroup .formStyle {
  font-size: 15px;
  color: #3d3d3d;
  width: 100%;
}

#loginGroup .registerR .register_box .formGroup label.formStyle {
  font-size: 15px;
  color: #646060;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 1px;
  font-weight: 600;
  padding-left: 5px;
}

#loginGroup .registerR .register_box .formGroup input.formStyle,
#loginGroup .registerR .register_box .formGroup select.formStyle {
  width: 100%;
  font-size: 15px;
  color: #3d3d3d;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 3px;
  padding: 8px 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

#loginGroup .registerR .register_box .formGroup select.select_countryCode {
  width: 30%;
  margin-right: 1px;
}

@media (min-width: 1024px) and (max-width: 1366px) {
  #loginGroup .registerR .register_box .formGroup select.select_countryCode {
    width: 40%;
  }
}

#loginGroup .registerR .register_box .formGroup input.form_tel {
  width: 69%;
}

@media (min-width: 320px) and (max-width: 767px) {
  #loginGroup .registerR .register_box .formGroup input.form_tel {
    width: 68%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #loginGroup .registerR .register_box .formGroup input.form_tel {
    width: 68%;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  #loginGroup .registerR .register_box .formGroup input.form_tel {
    width: 58%;
  }
}

#loginGroup .registerR .register_box .formGroup.tipGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  #loginGroup .registerR .register_box .formGroup.tipGroup {
    margin-top: -13px;
  }
}

#loginGroup .registerR .register_box .formGroup.tipGroup input {
  margin-right: 5px;
  width: 14px;
  height: 14px;
}

#loginGroup .registerR .register_box .formGroup.tipGroup .txt_tip {
  display: block;
  color: #0071ce;
  cursor: pointer;
}

#loginGroup .registerR .register_box .formGroup .txt_warn {
  font-size: 13px;
  color: #ff1c1c;
  display: inline-block;
}

#loginGroup .registerR .register_box .form_footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px 15px;
}

#loginGroup .registerR .register_box .form_footer button {
  width: 160px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  background: #0071ce;
  border-color: transparent;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 115px;
  height: 42px;
  line-height: 42px;
  font-size: 15px;
}

#loginGroup .registerR .register_box .form_footer button:hover, #loginGroup .registerR .register_box .form_footer button:active, #loginGroup .registerR .register_box .form_footer button.active {
  cursor: pointer;
  background: transparent;
  border: 1px solid #0071ce;
  color: #0071ce;
  font-weight: 600;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #loginGroup .registerR .register_box .form_footer button {
    width: 120px;
    height: 44px;
    line-height: 44px;
  }
}

#loginGroup .registerR .register_box .form_footer button:hover {
  font-size: 15px;
}

#loginGroup .registerR .register_box .form_footer button.btn_cancel {
  width: 160px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  border-radius: 30px;
  border-color: transparent;
  background: transparent;
  border: 1px solid #0071ce;
  color: #0071ce;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 15px;
  background: transparent;
  border: 1px solid #0071ce;
  color: #0071ce;
  width: 115px;
  margin-right: 20px;
}

#loginGroup .registerR .register_box .form_footer button.btn_cancel:hover, #loginGroup .registerR .register_box .form_footer button.btn_cancel:active, #loginGroup .registerR .register_box .form_footer button.btn_cancel.active {
  cursor: pointer;
  background: #0071ce;
  color: #fff;
  font-weight: 600;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #loginGroup .registerR .register_box .form_footer button.btn_cancel {
    width: 120px;
    height: 44px;
    line-height: 44px;
  }
}

#loginGroup .registerR .register_box .form_footer button.btn_cancel:hover {
  font-size: 15px;
}
