@import "_mixin";
@import "_component";

#index_section.customer_group {
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
  @include mobile {
    flex-direction: column;
    padding-top: 5px;
  }
  @include tablet {
    padding-top: 5px;
  }
  .txt_bg {
    width: 772px;
    height: 338px;
    background: #f9f9f9;
    position: relative;
    margin-right: -77px;
    margin-top: 30px;
    @include mobile {
      width: 100%;
      height: 300px;
    }
    @include tablet {
      height: 285px;
    }
    @include tablet_pro {
      margin-top: -35px;
    }
    .txt {
      font-size: 16px;
      line-height: 32px;
      color: #3d3d3d;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding: 80px;
      position: absolute;
      @include mobile {
        padding: 20px 15px;
        text-align: justify;
      }
      @include tablet {
        padding: 20px 15px;
        text-align: justify;
      }
      @include tablet_pro {
        padding: 60px 38px;
        text-align: justify;
      }
      p {
        &:nth-child(2) {
          margin-top: 25px;
        }
      }
    }
  }

  .customer_01 {
    @include tablet {
      margin-top: 60px;
    }
  }
}
#index_section_02.excellence_group {
  display: flex;
  justify-content: space-around;
  padding-top: 240px;
  padding-bottom: 205px;
  @include mobile {
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 20px;
  }
  @include tablet {
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 180px;
  }
  @include tablet_pro {
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 180px;
  }
  .excellence_box {
    width: 992px;
    position: relative;
    @include mobile {
      width: 100%;
      order: 2;
    }
    @include tablet {
      width: 100%;
      order: 2;
    }
    @include tablet_pro {
      width: 100%;
      order: 2;
    }
    > ul {
      width: 100%;
      height: 601px;
      display: flex;
      justify-content: flex-start;
      @include mobile {
        height: auto;
        flex-wrap: wrap;
      }
      @include tablet {
        height: auto;
        display: flex;
        justify-content: center;
      }
      @include tablet_pro {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
      }
      li {
        width: 232px;
        height: 540px;
        position: relative;
        &:not(:last-child) {
          margin-right: 20px;
        }
        > img {
          box-shadow: 1px 1px 5px #dddddd;
          @include mobile {
            width: 100%;
            height: auto;
            position: relative !important;
          }
          @include tablet {
            width: 173px;
            height: 424px;
          }
          @include tablet_pro {
            width: 237px;
            height: 552px;
          }
        }
        &:first-child,
        &:nth-child(3) {
          img {
            position: absolute;
            margin-top: 140px;
          }
        }
        @include mobile {
          width: 182px;
          height: 424px;
          margin-left: 5px !important;
          margin-right: 5px !important;
          width: 47%;
          height: auto;
          display: inline-flex;
          img {
            position: relative;
            margin-top: 0px !important;
          }
        }
        @include tablet {
          margin-right: 16px;
          height: auto;
        }
        @include tablet_pro {
          margin-right: 10px;
        }
      }
    }
    .btn_box {
      position: absolute;
      right: 0;
      margin-top: 31px;
      @include mobile {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
      }
      @include tablet {
        width: 173px;
        margin-right: 14px;
        margin-top: 87px;
      }
      @include tablet_pro {
        margin-right: 17px;
        margin-top: 105px;
      }
      > a {
        display: block;
        width: 230px;
        height: 46px;
        font-size: 16px;
        color: #041c23;
        background: #fff;
        border: 1px solid #6b676b;
        text-align: center;
        line-height: 46px;
        @include tablet {
          width: 173px;
        }
        @include tablet_pro {
          width: 237px;
        }
      }
    }
  }
  .txt_box {
    width: 562px;
    margin-top: 198px;
    position: relative;
    @include mobile {
      width: 100%;
      margin-top: 5px;
      order: 1;
    }
    @include tablet {
      width: 100%;
      margin-top: 5px;
      text-align: center;
      order: 1;
    }
    @include tablet_pro {
      width: 100%;
      margin-top: 5px;
      text-align: center;
      order: 1;
    }
    .txt_extra {
      font-size: 110px;
      color: #fff;
      position: absolute;
      margin-left: -131px;
      z-index: 999;
      @include mobile {
        display: inline-flex;
        color: #073c67;
        font-size: 36px;
        padding: 25px 0 15px;
        position: relative;
        margin-left: 22vw;
      }
      @include tablet {
        display: inline-flex;
        color: #073c67;
        font-size: 36px;
        padding: 25px 0 15px;
        position: relative;
        margin-left: 1vw;
      }
      @include tablet_pro {
        display: inline-flex;
        color: #073c67;
        font-size: 46px;
        padding: 25px 0 15px;
        position: relative;
        margin-left: 1vw;
      }
    }
  }
  .txt_tit {
    font-size: 110px;
    color: #073c67;
    @include mobile {
      display: inline-flex;
      justify-content: center;
      font-size: 36px;
      padding: 25px 0 15px;
      margin-left: -3px;
    }
    @include tablet {
      display: inline-flex;
      justify-content: center;
      font-size: 36px;
      padding: 25px 0 15px;
      margin-left: -3px;
    }
    @include tablet_pro {
      display: inline-flex;
      justify-content: center;
      font-size: 46px;
      padding: 25px 0 15px;
      margin-left: -3px;
    }
  }
  .slogan {
    font-size: 42px;
    color: #054765;
    text-align: center;
    font-weight: normal;
    @include mobile {
      @include title;
      color: #333;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 73px;
        height: 3px;
        color: #1a7fd3;
        background: #1a7fd3;
        bottom: 2px;
      }
    }
    @include tablet {
      @include title;
      color: #333;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 73px;
        height: 3px;
        color: #1a7fd3;
        background: #1a7fd3;
        bottom: 2px;
      }
    }
    @include tablet_pro {
      @include title;
      color: #333;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 73px;
        height: 3px;
        color: #1a7fd3;
        background: #1a7fd3;
        bottom: 2px;
      }
    }
  }
  .txt_content {
    font-size: 18px;
    color: #3d3d3d;
    padding: 30px 20px;
    line-height: 30px;
    text-align: justify;
    font-weight: normal;
    @include mobile {
      font-size: 16px;
      line-height: 32px;
    }
    @include tablet {
      font-size: 16px;
      line-height: 32px;
    }
    @include tablet_pro {
      font-size: 16px;
      line-height: 32px;
    }
  }
}
#index_section_03.about_group {
  .sub_title {
    @include sub_title;
  }
  .about_content {
    display: flex;
    justify-content: space-around;
    @include mobile {
      flex-direction: column;
      width: 100%;
      margin-bottom: 30px;
    }
    @include desktop {
      margin-bottom: 195px;
    }
    .about_01 {
      .about_img {
        @include desktop {
          max-width: 820px;
          width: 820px;
          max-height: 427px;
          height: 427px;
        }
        @include tablet {
          max-width: 495px;
          width: 495px;
          max-height: 258px;
          height: 258px;
        }
        @include tablet_pro {
          max-width: 583px;
          width: 583px;
          max-height: 312px;
          height: 312px;
        }
      }
    }
    .txt {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      @include mobile {
        align-items: center;
        justify-content: center;
      }
      p {
        font-size: 16px;
        line-height: 32px;
        color: #3d3d3d;
        padding: 0 60px 47px;
        text-align: justify;
        @include mobile {
          padding: 30px 20px;
        }
        @include tablet {
          padding: 0 13px 32px;
        }
        @include tablet_pro {
          padding: 0 33px 47px;
        }
      }
      .btn_Primary {
        @include btn_Primary;
        margin-left: 60px;
        @include mobile {
          margin-left: 0;
        }
        @include tablet {
          margin-left: 17px;
        }
        @include tablet_pro {
          margin-left: 33px;
        }
      }
    }
  }
  .about_box {
    width: 1554px;
    @include mobile {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 30px auto;
    }
    @include tablet {
      width: 100%;
      display: flex;
      margin: 50px auto 30px;
    }
    @include tablet_pro {
      width: 100%;
      display: flex;
      margin: 50px auto 30px;
    }
    > ul {
      width: 100%;
      display: flex;
      justify-content: space-around;
      @include mobile {
        flex-direction: column;
      }
      li {
        width: 489px;
        height: 580px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        &:not(:last-child) {
          margin-right: 30px;
          @include mobile {
            margin-right: 0;
          }
        }
        .txt_tit {
          font-size: 32px;
          color: #333;
          font-weight: 600;
          padding-bottom: 8px;
          @include mobile {
            font-size: 24px;
          }
          @include tablet {
            font-size: 26px;
          }
          @include tablet_pro {
            font-size: 26px;
          }
        }
        .sub_tit {
          font-size: 24px;
          color: #588499;
          padding-bottom: 40px;
          @include mobile {
            font-size: 21px;
            text-align: center;
            padding-bottom: 20px;
          }
          @include tablet {
            font-size: 18px;
            height: 52px;
            margin-bottom: 30px;
            padding: 0 5px;
            text-align: center;
          }
          @include tablet_pro {
            font-size: 18px;
            height: 52px;
            margin-bottom: 30px;
            padding: 0 5px;
            text-align: center;
          }
        }
        span {
          display: block;
          font-size: 16px;
          color: #3d3d3d;
          height: 138px;
          line-height: 32px;
          text-align: left;
          @include mobile {
            padding: 0 20px;
            height: auto;
          }
          @include tablet {
            padding: 0 5px;
            text-align: left;
            height: 267px;
          }
          @include tablet_pro {
            padding: 0 8px;
            text-align: left;
            height: 200px;
          }
        }
        .img_box {
          max-width: 489px;
          max-height: 321px;
          overflow: hidden;
          position: relative;
          img {
            transition: all 0.5s ease-out;
            transform: scale(1);
            &:hover {
              transform: scale(1.1);
            }
            @include desktop {
              max-width: 489px;
              max-height: 321px;
            }
          }
        }
        @include mobile {
          width: 100%;
          height: auto;
          margin-top: 40px;
        }
        @include tablet {
          width: calc(100% / 3);
          height: auto;
        }
        @include tablet_pro {
          width: calc(100% / 3);
          height: auto;
        }
      }
    }
  }
}

#Contact {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
  .BG_contact {
    width: 100%;
    height: 0;
    padding-bottom: 35.052%;
    background: url(../images/BG_contact.jpg) no-repeat;
    background-size: 100%;
    @include tablet_pro {
      width: 100%;
      height: 0;
      padding-bottom: 55.088%;
      background: url(../images/BG_contact_tablet_pro.jpg) no-repeat;
      background-size: 100%;
    }
    .contact_group {
      .row {
        @include row;
        .col {
          @include col;
          .txt_tit {
            font-size: 30px;
            color: #3d3d3d;
            padding-top: 26px;
            font-weight: 600;
            position: absolute;
            @include tablet_pro {
              padding: 15px 20px 0;
            }
            &:after {
              display: block;
              content: "";
              background: #3d3d3d;
              width: 38px;
              height: 3px;
              position: absolute;
              bottom: -19px;
            }
          }
          .customer_box {
            width: 100%;
            margin-top: 131px;
            position: absolute;
            @include tablet_pro {
              margin-top: 80px;
            }
            > ul {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              > li {
                width: calc(100% / 4);
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                margin-bottom: 48px;
                span {
                  display: inline-block;
                  &.icon_box {
                    width: 173px;
                    height: 172px;
                    background: -webkit-linear-gradient(
                      left,
                      #00e7ff 0%,
                      #00aeff 100%
                    );
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .icon {
                      width: 88px;
                      height: 99px;
                      background: url(../images/icon_customer.png) no-repeat;
                      background-size: 100%;
                    }
                    @include tablet_pro {
                      width: 153px;
                      height: 152px;
                    }
                  }
                  &.txt {
                    color: #3d3d3d;
                    font-size: 19px;
                    margin-top: 22px;
                    @include tablet_pro {
                      font-size: 15px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
